ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: white; /* fallback for old browsers */
    background-color: -webkit-linear-gradient(
      to right,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(
      to right,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .active {
    background-color: -webkit-linear-gradient(
      to right,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(
      to right,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .a {
    color: white !important;
  }
  